<!--friends list-->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="friends">
  <ion-list>
    <button text-wrap ion-item *ngFor="let friend of friends" (click)="viewDetails(friend)" >
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail item-left>
              <img src="../../assets/icon/user.png">
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
              <h1>{{friend.friendId}}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
  </div>

</ion-content>