<!--friends list-->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Friends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="friends">
    <ion-list>
      <ion-item *ngFor="let friend of friends">
        <ion-thumbnail item-left (click)="viewDetails(friend)">
          <img src="../../assets/images/user.png">
        </ion-thumbnail>
        <h1>{{friend._displayName}}</h1>
        <h1>{{friend._email}}</h1>
        <button ion-button item-right color="danger" (click)="removeFriend(friend)">Delete</button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>