<!--
File Name:     app/app.html
Description:   Outlines main structure of app: menu area and content area
Authors:       Tony Bogun, Liavontsi Brechka, Aaron Fernandes, Omid Khataee, Edward Song
GitHub:        https://github.com/COMP308-Emerging-Technologies-Group2/COMP308-Group2-Favourite-Movie-List
-->


<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <br/>
    <ion-list no-lines>
      <div *ngFor="let p of pages">

        <ion-label class="margin-header" *ngIf="p.title == 'Favorites'"> <hr/> Movies, TVs</ion-label>
        <ion-label class="margin-header" *ngIf="p.title == 'Friends'"> <hr/> Social</ion-label>
        <ion-label class="margin-header" *ngIf="p.title == 'Profile'"><hr/> Personal</ion-label>

        <ion-item menuClose (click)="openPage(p)">
          <ion-icon icon-left [name]="p.icon"></ion-icon>
          {{p.title}}
        </ion-item>

      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>