<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search Users</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar type="search" (ionInput)="searchEvent($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  <div *ngIf="searchResults">
    <ion-list>
      <ion-item *ngFor="let searchResult of searchResults">
        <ion-thumbnail item-left (click)="viewDetails(searchResult)">
          <img src="./assets/images/user.png">
        </ion-thumbnail>
        <h1>{{searchResult._displayName}}</h1>
        <h3>{{searchResult._email}}</h3>
        <button ion-button item-right (click)="addFriend(searchResult)">Add</button>
      </ion-item>
    </ion-list>
  </div>

  <!-- Empty search results message -->
  <div *ngIf="isNoResults && !isSelfSearch" padding>
    <h2>No results found for "{{query}}"</h2>
  </div>

  <div *ngIf="isSelfSearch" padding>
    <h2>C'mon {{query}}, it's you ;-)</h2>
  </div>

</ion-content>