<!--
File Name:     pages/favorites/favorites.html
Description:   Presentation component of favorites page
Authors:       Tony Bogun, Liavontsi Brechka, Aaron Fernandes, Omid Khataee, Edward Song
GitHub:        https://github.com/COMP308-Emerging-Technologies-Group2/COMP308-Group2-Favourite-Movie-List
-->



<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail item-left (click)="viewDetails(movie.imdbid)">
        <img *ngIf="movie.poster!=='N/A'" src="{{movie.poster}}">
        <img *ngIf="movie.poster==='N/A'" src="./assets/images/posterPlaceholder.png">
      </ion-thumbnail>
      <h2 (click)="viewDetails(movie.imdbid)">{{movie.title}}</h2>
      <p (click)="viewDetails(movie.imdbid)">{{movie._year_data}}</p>
      <p (click)="viewDetails(movie.imdbid)">{{movie.rating}}</p>
      <button ion-button color="secondary" (click)="addToCalendar(movie)">Calendar</button>
      <button ion-button color="danger" (click)="deleteMedia(movie.imdbid)">Delete</button>
    </ion-item>
  </ion-list>

</ion-content>